# project
scratch/
COOKFAILED/
.HTF/
example/.kitchen

# haskell
dist
cabal-dev
.kitchen
.virtualenv
.hsenv
.cabal-sandbox/
cabal.sandbox.config
cabal.config

# mac
.DS_Store
.AppleDouble
.LSOverride

# git?
.git
